/* c:/xampp/htdocs/soporte_biofix/css/validaciones.css */

.validation-list {
    margin-top: 8px;
    padding-left: 5px;
    font-size: 0.875rem; /* 14px */
    list-style-type: none;
    display: none; /* Oculto por defecto */
}

.validation-item {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    transition: color 0.3s ease;
}

.validation-item i {
    margin-right: 8px;
    width: 16px; /* Asegura que los íconos tengan el mismo ancho */
    transition: color 0.3s ease;
}

.validation-item.valid {
    color: #16a34a; /* green-600 */
}

.validation-item.invalid {
    color: #b91c1c; /* Texto rojo oscuro */
}

.validation-item.invalid i {
    color: #ef4444; /* Ícono rojo más brillante */
}